*.suo
*.user
.vs/
.idea/
*.sln.iml

[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

*.VisualState.xml
TestResult.xml

_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.dotCover

publish/

*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

